.body {
    width: auto;
    height: auto;
    background-color: white;
}
.partners {
    width: auto;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 32px;
    font-family: oswald;
    padding: 20px;
    text-align: left;
    padding-left: 100px;
}
.partners h1 {
    font-weight: 400;
    margin-right: 900px;

}
.partners h3 {
    font-weight: 100;
    margin-right: 850px;

}
.partnersImg {
    width: auto;
    height: 700px;
    background-image: linear-gradient(to bottom right, #dedede, #ffff);
    position: relative;
}

.nvidia {
    position: absolute;
    top: 30px;
    left: 100px;
}
.rog {
    position: absolute;
    top: 600px;
    right: 50px;
}
.amd {
    position: absolute;
    top: 300px;
    left: 200px;
}
.intel {
    position: absolute;
    bottom: 300px;
    right: 270px;
}
.intocode {
    position: absolute;
    top: 50%;
    left: 42%;
}
.cyberSensorica {
    bottom: 50px;
    position: absolute;
    right: 42%;
    border-radius: 50%;
}
.gigabyte {
    position: absolute;
    top: 150px;
    right: 150px;
}
.hyperx {
    position: absolute;
    left: 30%;
    top: 10%;
}
.kingston {
    position: absolute;
    bottom: 10%;
    left: 10%;
}
.nvidia {
    position: absolute;
    top: 30%;
}
.msi {
    position: absolute;
    bottom: 20%;
    right: 200px;
}
.carouselDiv {
    width: auto;
    height: 700px;
    justify-content: center;
    margin: auto;
}
.projectsText {
    width: auto;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 32px;
    font-family: oswald;
    padding: 20px;
    text-align: left;
    padding-left: 100px;
}
.projectsText h1 {
    font-weight: 400;
    margin-right: 900px;

}
.projectsText h3 {
    font-weight: 100;
    margin-right: 850px;
    flex-wrap: nowrap;
    width: 100%;

}