@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1b1c24;
}
header {
  font-family: "Cormorant Garamond", serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Oswald", sans-serif;
}

.rotate360 {
  transition: transform 0.5s;
}

.rotate360:hover {
  transform: rotate(360deg);
}
